[[CURRENCIES]]
code = "xpaio"
issuer = "GCSFHPOHQKWEDUW2YQ3YNVROWHYBGGPVWAZN6CWMLDTVVSLAEBHMF3JG"
name = "xpaioe"
desc = "Utility Test token used to purchase STAR, NFTs, game features."
image = "https://xpaio-token.netlify.app/logo.png"

[build]
command = "npm run build && npm run export"
publish = "out"

[[plugins]]
package = "@netlify/plugin-nextjs"

[functions]
directory = "netlify/functions"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200