[[CURRENCIES]]
code="xpaio"
issuer="GCSFHPOHQKWEDUW2YQ3YNVROWHYBGGPVWAZN6CWMLDTVVSLAEBHMF3JG"
name="xpaioe"
desc="Utility Test token used to purchase STAR, NFTs, game features."
image="https://xpaio-token.netlify.app/logo.png"

[build]
  base = "xpaio"
  publish = "out"
  command = "npm run build"

[functions]
  directory = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200